# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Trained models
models/*.pth
models/*.pt

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

app/uploaded_image.jpg